<h2 class="text-3xl font-bold text-yellow-300 text-center mb-6">Tejaswi Anand</h2>
<div class="md:flex md:items-center md:gap-6 mb-4">
    <img id="profile-pic" class="mx-auto flex-shrink-0 md:mx-0 mb-4 md:mb-0" src="images/tejaswianand.avif"
        alt="My Picture" data-viewer-id="profile-pic-viewer">
    <div class="text-justify space-y-4">
        <p>Hii,
            This is Tejaswi and I am a B.Tech sophomore at the Faculty of Technology, University of Delhi, with interest
            in Programming, Science and Cyber Security</p>
        <p>Currently, I’m diving deep into the world of Computer Engineering as an Undergrad Engineer. I’ve started my
            journey with the ABCs of C Programming and Python, and I’m excited to keep building on this foundation.</p>
    </div>
</div>
<div class="text-justify space-y-4">
    <p>As a Science Enthusiast, I was a District Coordinator in Global Science and am actively contributing to the Space
        Tech and Astro Community. My journey includes attending and presenting at IISF-2019 in Kolkata, where I also
        earned a Letter of Appreciation from Dr. Harsh Vardhan- Former Science and Tech Minister, Govt of India. On
        campus, I led my team in the Internal Hackathon, where we developed Solar Swing, a cost-effective solar tracking
        system designed to boost energy efficiency.</p>
    <p>Beyond academics, I’m also a passionate graphic designer with projects like Spice Gate and Vybe under my belly
        which blends creativity with purpose to deliver impactful visuals.</p>
    <p>Thanksss!!</p>
</div>